<div class="page-four">
    <div class="row steps">
        <div class="step step-one">

        </div>
        <div class="step step-completed">

        </div>
        <div class="step step-completed">

        </div>
        <div class="step step-active">

        </div>
        <div class="step">

        </div>

    </div>
    <div class="row">
        <p class="step-count">4 of 5</p>
        <p class="page-section-title">
            What’s your favorite movie snack?</p>
    </div>
    <div class="row step-one-qns">
        <div class="col-4">
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio1">Popcorn</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio2">Junior Mints</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio3">Skittles</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio4">Nachos</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio5">Milk Duds</label>
                </div>
            </div>
            <div class="row">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                        value="option1">
                    <label class="form-check-label" for="inlineRadio6">I only watch Criterion Collection films at
                        Arthouses that disallow snacks because there might be a crinkling sound that disrupts other
                        patrons.</label>
                </div>
            </div>
        </div>

    </div>
    <div class="row bottom-section">
        <div class="col link" (click)="onPreviousStep()">
            <p>← Previous Question</p>
        </div>
        <div class="col">
            <div class="button large-button" (click)="onNextStep()">
                Next
            </div>
        </div>
    </div>
</div>