<div class="step-template">
    TEST
    <!-- assessment-template.component.html
    <h2>Step {{ assessment.stepIndex }}</h2>
    <div class="step-content-label">Here's where you show content for step {{ assessment.stepIndex }}</div>
    <button class="step-complete-btn" (click)="onCompleteStep()">
        <span class="completed-step-check material-icons">
            {{ assessment.isComplete ? 'check_circle' : 'panorama_fish_eye' }}
        </span>Complete Step {{ assessment.stepIndex }}</button> -->
</div>
