<div class="intro-page-container">
    <div class="row">
        <div class="col left-banner">
            <div class="hex">
                <div class="hex-background">
                    <img src="../../../assets/older-adults-phone 1.png" width="563.23px" height="559.19px"
                        class="d-inline-block align-top" alt="">
                </div>
            </div>
        </div>
        <div class="col right-banner">
            <div class="row header-title">
                Let’s get started filling out your profile
            </div>
            <div class="row header-sub-title">
                The best way for us to get you the right kind of help is to know you as well as possible.
            </div>
            <div class="row button large-button" (click)="onNextStep()">
                Start
            </div>

        </div>

    </div>
</div>