<div class="completed-page-container">
    <div class="row">
        <div class="col left-banner">
            <div class="row header-title">
                You’ve completed your quiz
            </div>
            <div class="row header-sub-title">
                We really appreciate that you took the time to log the answers to this quiz to the console as a javascript object!
            </div>
            <div class="row button large-button" (click)="onNextStep()">
                Take me to your leader
            </div>

        </div>
        <div class="col right-banner">
            <div class="hex">
                <div class="hex-background">
                    <img src="../../../assets/older-adults-phone 1.png" width="563.23px" height="559.19px"
                        class="d-inline-block align-top" alt="">
                </div>
            </div>
        </div>

    </div>
</div>